body {
  /* background-image: radial-gradient(
    circle at center,
    #ffffff 0%,
    #00b9de 10%,
    #0085c2 40%,
    #00689a 68%,
    #00537b 100%
  ); */

  background-color: #141e55;

  color: #192a32;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #192a32;
}

.logo {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #141e55;
  padding: 14px 32px 14px 32px;
  text-decoration: none;
  margin-right: 28px;
}

.site-nav.list {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
}

.site-nav__item {
  display: flex;
  margin-right: 21px;
}

.site-nav__item:last-child {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;
  display: block;
  color: #fcfcfc;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: #1a3769;
  border-radius: 16px;
  padding: 14px 24px;
}

.button {
  display: flex;
  width: 131px;
  height: 48px;
  padding: 14px 20px 14px 24px;
  border-radius: 16px;
  background-color: #1a3769;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  border: transparent;
}

.button__icon--right {
  margin-left: 8px;
}

.button__icon--left {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.button-list {
  display: flex;
  align-items: center;
}

.button-list__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fcfcfc;
}

.button-list__item {
  margin-left: 16px;
}

.button-list__link {
  padding: 14px 32px;
  border-radius: 16px;
}
.button-list__link--sing {
  background-color: #ec622b;
}

.button-list__link--log {
  background-color: #0fa810;
}

.section {
  width: 925px;
  padding: 25px 20px;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.install__wrapper {
  display: flex;
}

.install__info {
  font-size: 16px;
  font-weight: 400;
  /* color: #192a32; */
}
.install__button {
  display: flex;
  max-width: 179px;
  height: 48px;
  border-radius: 16px;
  background-color: #1a3769;
  color: #ffffff;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 40px;
  /* text-align: center; */

  white-space: nowrap;
}

.left-bar {
  max-width: 295px;
  height: 704px;
  outline: 2px solid tomato;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
  height: 100%;
}

.left-bar__wrapper {
  background-color: #192a32;
  display: block;
  padding: 20px 22px;
}
.left-bar__button {
  display: flex;
  width: 251px;
  height: 48px;
  border-radius: 60px;
  border: transparent;
  background-color: #ec622b;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #fcfcfc;
  white-space: nowrap;
}

.wrapper__list{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
 
  

}

.left-bar__list{
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
 

}

.left-bar__text{
  font-weight: 400;
  font-size: 16px;
  color:  #7C7C7C;
  padding-top: 8px;
   margin-left: 12px;
  padding-bottom: 8px;

  


}
.left-bar__item{
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  
  
  
 
}

.left-bar__item:last-child{
  margin-bottom: 0;
}

.wrapp-items--current{
  background-color: #192A32;
  
}
.left-bar__text--current{
  color: #FCFCFC;

}

.left-bar__icon{
  margin-left: 12px;
  width: 24px;
  height: 24px;

}

.wrapp-items{
  display: flex;
  align-items: center;
  height: 40px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.hero{
  background-color: #7C7C7C;
  max-width: 925px;
  height: 384px;
  padding-top: 41px;
  padding-bottom: 52px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/image\ 1944.jpg");
    background-size: cover;
    background-position: center;

}

.hero__span{
  color:#ffffff;
  font-weight: 600;
  font-size: 24px;
}

.hero__img {
  width: 144px;
   height: 23px;
   margin-left: 8px;
}

.hero__stars{
  display: flex;
 margin-bottom: 35px;

}

.hero__title{
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;

}
.hero__button{
  width: 214px;
  height: 48px;
  background-color:#EC622B;
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px 75px ;
  border-radius: 16px;
  border: 1px solid #ffffff ;
  margin-top: 16px;
  margin-bottom: 10px;
}

.hero__text{
  color: #ffffff;
  font-weight: 400;
  font-size: 6px;
  margin-left: 42px;
  

}

.features{
  
}

.features__list{
  display: flex;
  /* padding: 32px 20px; */
}

.features__icon{
  width: 32px;
  height: 32px;
 
  color: #192A32;
    margin-bottom: 10px;
}

.features__item{
  max-width: 98px;
  max-height: 102px;
  border-radius: 6px;
  background-color:#F6F6F6 ;
  padding: 15px 17px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); ;
}

.features__item--current{
  background-color: #ffffff;
  border-top: 8px solid #2E9344;
  height: 94px;
  

}

.features__label{
 color: #192A32;
 font-weight: 600;
 font-size: 10px;
 align-items: center;
 display: inline-flex;
 justify-content: center;
 text-align: center;
}
 
.wrapp{
  display: flex;
  justify-content: center;
  
}

.deposit{
  background-image: url("../images/image\ 1945.jpg");
  background-size: cover;
  background-position:center ;
  /* height: 384px; */
  padding-top: 90px;
  padding-bottom: 104px;
  padding-left: 20px ;
  display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.deposit__title{
  font-weight: 700;
  font-size: 40px;
  color:#192A32 ;
  margin-bottom: 16px;
}

.deposit__text{
  font-weight: 700;
  font-size: 32px;
  color:#192A32;
  margin-bottom: 16px;
}

.deposit__button{
  width: 214px;
  height: 48px;
  color: #FCFCFC;
  text-transform: uppercase;
  background-color: #EC622B ;
  font-size: 16px;
  font-weight: 600;
  border-radius:16px;
  border: 1px solid #ffffff;
}

.bonus__title{
  font-weight: 700;
  font-size: 48px;
  color:#192A32;
  margin-bottom: 16px;

}

.bonus__text{
  font-weight: 400;
  font-size: 16px;

}
.rating__list{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.rating__item{
  width: 885px;
  height: 63px;
  background-color:#80BEF8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  

}

.rating__text{
  font-weight: 600;
  font-size: 16px;
  color:#ffffff;
  padding: 16px 24px;
  text-transform: uppercase;
}

.rating__icon{
  width: 392px;
  height: 31px;
  margin-right: 16px;
}
.rating-span{
  font-weight: 400;
  color:#ffffff;
  font-size: 14px;
}

.wrapp-stars{
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 16px;
}
.facts__title{
  font-weight: 700;
  font-size: 40px;
  color:#192A32;
  text-transform: uppercase;
  border-bottom: 2px solid #C5C5C5;
  max-width: 280px;
  margin-bottom: 34px;

}

.facts__list{
  display: flex;
  flex-direction: column;
}
.facts__item{
  display: flex;
  border-bottom: 2px solid #C5C5C5;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 48px;
  align-items: center;
  

}

.facts__label{
  font-weight: 500;
  font-size: 16px;
  color: #192A32;
  width: 199px;
  margin-right: 32px;
  

}

.facts__icon{
  width: 24px;
  height: 28px;
  margin-right: 2px;
}

.review{
  padding-bottom: 32px;
}
.review__title{
  font-weight: 700;
  font-size: 48px;
  color: #192A32;
  margin-bottom: 24px;
}

.review__text{
  font-weight: 400;
  font-size: 16px;
  color: #192A32;
  margin-bottom: 24px;
}

.review__label{
  font-weight: 700;
  font-size: 40px;
  color: #192A32;
  margin-bottom: 24px;

}

.review__list{
  margin-bottom: 24px;
}

.review__text--span{
 color:#2E9344;
}

.review__button{
  margin-top: 8px;
  width: 127px;
  height: 48px;
  color: #ffffff;
  background-color: #EC622B;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 16px;
  border: transparent;
  
}

.comments__list{
  display: flex;
}

.comments__title{
  font-weight: 700;
  font-size: 40px;
  color:#192A32;
  text-transform: uppercase;  
  margin-right: 70px;;
}

.comments__wrapp{
  display: flex;
  align-items: center;
  margin-bottom: 14px ;
}

.comments__icon--left{
  width: 40px;
  height: 40px;
  
  margin-right: 17px ;
}

.comments__icon--right{
  width: 40px;
  height: 40px;
}

.comments__img{
  width: 109px;
  height: 113px;
  margin-right: 31px;
}

.comments__item{
  width: 433px;
  background-color: #E2EAF7;
  border-radius: 6px;
  padding: 32px 20px 32px 32px;
  margin-right: 19px;
  display: flex;
  align-items: center;
}

.comments__item:last-child{
  margin-right: 0;
}
.comments__name{
  font-weight: 600;
  font-size: 16px;
  color:#192A32;
  text-transform: uppercase;
}

.comments__icon{
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.comments__rating{
  font-weight: 400;
  font-size: 12px;
  color: #192A32;

}

.comments__label{
  font-weight: 400;
  font-size: 16px;
  color:#192A32;
  margin-top: 8px;
}
.comments__wrapper{
display: flex;
flex-direction: column;
}
.wrapp-info{
 display: flex;
 justify-content: space-between;

}

.comments__stars{
  display: flex;
}